<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= displayName %></p>
    <br>
    <p>Please log in!</p>
    <a href="/auth/google"> Google OAUth</a>
    <%# <br>
    <a href="/api"> Authenticated member ONLY!</a>
    <br>
    <a href="/logout"> logout</a>%>
  </body>
</html>
